@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: "Work Sans", sans-serif;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 22px;
    padding: 0 90px;
    padding-top: 100px;
}

.left {
    width: 45%;
    height: 100%;
    /* background-color: lightseagreen; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.left h1 {
    font-size: 7.6vw;
    line-height: 8vw;
    font-weight: 500;
    font-family: "Work Sans", sans-serif;
}

.bottom-left {
    /* height: 60%; */
    width: 100%;
    padding-bottom: 50px;
    /* background-color: lightgreen; */
}

.color {
    /* background-color: aqua; */
    width: fit-content;
    padding: 8px 15px;
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid #000;
}

.color h5 {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 500;
}

.color1 {
    height: 20px;
    width: 20px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 3px;
}

.color2 {
    height: 20px;
    width: 20px;
    background-color: brown;
    border-radius: 50%;
}

.left h2 {
    margin-top: 32px;
    font-size: 2vw;
    margin-bottom: 10px;
}

.left p {
    font-size: 1.2vw;
    width: 70%;
    font-weight: 600;
    color: #444;
    line-height: 1.6vw;
}

.right {
    width: 40%;
    height: 100%;
    margin-top: 70px;
    /* background-color: lightgreen; */
    position: relative;
}

.right-top {
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.right-top h4 {
    font-size: 30px;
    font-weight: 500;
}

.right-top h5 {
    font-size: 16px;
}

.right-top h5 i {
    color: goldenrod;
}

.right img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.black-circle {
    position: absolute;
    width: 148px;
    height: 148px;
    background: rgb(26, 26, 26);
    color: #fff;
    border-radius: 100px;

    right: -18%;
    top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black-circle h5 {
    font-size: 20px;
    font-weight: 500;
}

.rotated {
    position: absolute;
    left: -10%;
    bottom: 0;
    rotate: -90deg;
    transform-origin: 0 0;

    font-size: 32px;
    font-weight: 500;
}

@media (max-width: 600px) {
    .main {
        flex-direction: column;
        padding: 40px;
    }

    .left {
        width: 100%;
        gap: 50px;
    }


    .left h1 {
        font-size: 18vw;
        line-height: 20vw;
    }

    .bottom-left {
        width: 100%;
        padding-bottom: 10px;
    }

    .color h5 {
        font-size: 14px;
    }



    .left h2 {
        font-size: 6vw;
        margin-bottom: 8px;
    }

    .left p {
        font-size: 3.2vw;
        width: 90%;
        line-height: 3.6vw;
    }


    .right {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column-reverse;
    }

    .right-top {
        height: 60px;
        padding-right: 0px;
    }

    .right-top h4 {
        font-size: 26px;
    }

    .right-top h5 {
        font-size: 14px;
    }

    .right img {
        width: 100%;
        height: 90%;
        object-fit: cover;
        object-position: 0 -80px;
    }

    .black-circle {
        width: 128px;
        height: 128px;

        right: -10%;
        top: -10%;
    }

    .black-circle h5 {
        font-size: 18px;
    }

    .rotated {
        left: 0;
        top: -10%;
        rotate: 0deg;
        font-size: 28px;
        font-weight: 600;
    }
}

@media (max-width: 900px) {
    .main {
        flex-direction: column;
        padding: 40px;
    }

    .left {
        width: 100%;
        gap: 50px;
    }


    .left h1 {
        font-size: 20vw;
        line-height: 20vw;
    }

    .bottom-left {
        width: 100%;
        padding-bottom: 10px;
    }

    .color h5 {
        font-size: 14px;
    }



    .left h2 {
        font-size: 6vw;
        margin-bottom: 8px;
    }

    .left p {
        font-size: 3.2vw;
        width: 90%;
        line-height: 3.6vw;
    }


    .right {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column-reverse;
    }

    .right-top {
        height: 60px;
        padding-right: 0px;
    }

    .right-top h4 {
        font-size: 32px;
    }

    .right-top h5 {
        font-size: 18px;
    }

    .right img {
        width: 100%;
        height: 90%;
        object-fit: cover;
        object-position: 0 70%;
    }

    .black-circle {
        width: 128px;
        height: 128px;

        right: -10%;
        top: -10%;
    }

    .black-circle h5 {
        font-size: 18px;
    }

    .rotated {
        left: 0;
        top: -10%;
        rotate: 0deg;
        font-size: 34px;
        font-weight: 600;
    }
}